<!DOCTYPE html>
<html lang="en">
<head>
    @*<base href="@Url.Content("~/")"></base>*@
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CSCWeb Clound | @ViewBag.Title</title>
    <!-- Bootstrap -->
    @Styles.Render("~/vendors/bootstrap/dist/css/bootstrap.min.css")
    <!--Font Awesome-->
    @Styles.Render("~/vendors/font-awesome/css/font-awesome.min.css")
    <!--NProgress-->
    @Styles.Render("~/vendors/nprogress/nprogress.css")
    <!--iCheck-->
    @Styles.Render("~/vendors/iCheck/skins/flat/green.css")
    <!--bootstrap progressbar-->
    @Styles.Render("~/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css")
    <!--JQVMap-->
    @Styles.Render("~/vendors/jqvmap/dist/jqvmap.min.css")

    <!--Custom Theme Style-->
    @Styles.Render("~/build/css/custom.min.css")

    <!-- Datatables -->
    @Styles.Render("~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css")
    @Styles.Render("~/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css")
    @Styles.Render("~/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css")
    @Styles.Render("~/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css")
    @Styles.Render("~/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css")

    <script>
        var ROOT = '@Url.Content("~/")';
    </script>
    @RenderSection("Styles", false)
</head>
<body class="nav-md footer_fixed">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col menu_fixed">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Content("~/")" class="site_title">
                            @*<span class="logo-mini"><b>A</b>LT</span>*@
                            <i class="fa fa-cloud"></i>
                            <span>CSC Web</span>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="@Url.Content("~/Assets/images/picture.jpg")" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>Administrator</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    @Html.Partial("_sidebarMenu")
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            @Html.Partial("_topNavigation")
            <!-- /top navigation -->
            <!-- page content -->
            @RenderBody()
            <!-- /page content -->
            <!-- footer content -->
            @Html.Partial("_footer")
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    @Scripts.Render("~/vendors/jquery/dist/jquery.min.js")
    <!--Bootstrap-->
    @Scripts.Render("~/vendors/bootstrap/dist/js/bootstrap.min.js")
    <!--FastClick-->
    @Scripts.Render("~/vendors/fastclick/lib/fastclick.js")
    <!--NProgress-->
    @Scripts.Render("~/vendors/nprogress/nprogress.js")
    <!--bootstrap progressbar-->
    @Scripts.Render("~/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js")
    <!--iCheck-->
    @Scripts.Render("~/vendors/iCheck/icheck.min.js")
    @Scripts.Render("~/build/js/custom.min.js")
    @Scripts.Render("~/Assets/js/file/FileSaver.min.js")

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/js/Report/Function.js")"></script>
    <script type="text/javascript">
        @{
            string controller = this.ViewContext.RouteData.Values["controller"].ToString();
            string baseUrl = new Uri(Request.Url, Url.Content("~")).ToString();
        }
        ControllerName = "@controller";
        BaseUrl = "@baseUrl";
    </script>

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/functions.js")"></script>

    @RenderSection("Scripts", false)
</body>
</html>
